@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}
body{
    max-width: 100vw;
    overflow-x:hidden;
    background-color: #dbe9ee;
}
header{
    height:100vh
}
.container{
    width:90vw;
    margin: 0 auto;
}
#logo{
  display:flex;
  align-items: center;
  gap: 0.3rem;
  color:white
}
#img-logo{
  height:55px;
}
#menu-area{
    background-color: #f07032;
    height:70px;
    display: flex;
    align-items: center;
    justify-content:space-between;
      text-transform:uppercase;

}
#menu-content{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
ul{
    display:flex;
    gap:2rem;
    list-style: none;
}
li a{
    text-decoration:none;
    color:white;
}
li a:hover{
  color:#003c76;
border-bottom: 2px solid #ffffff;
border-top: 2px solid #ffffff;
transition: 0.1s linear;
padding-bottom: 10px;
padding-top: 10px;


}
#bannerArea{
    height:calc(100vh - 70px);
    width:100vw;
    background-color: red;
}
.slider-container {
    position: relative;
  width: 100vw;
    height:calc(100vh - 70px);
    overflow: hidden;
  }
  
  .slider-wrapper {
    position: absolute;
    display: flex;
  width: 100%;
    transition: 0.5s ease-in-out;
  }

  .slider-wrapper img {
   width: 100vw;
 
  }
  .slide{
    height: 100vh;
  }
 
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }

  /*Sobre area*/
  section,
  footer{
    height:100vh;
    width:100vw;
    

  }
  #about-section{
    display: flex;
    align-items: center;

  }
  #aboutArea{
   border-radius: 10px;
  padding: 10px 0;
    height:90%;
    
  

  }
  #info-section{
    display:flex;
 
    height: 100%;

  }
 
  #imageArea{
    flex:1;
  
  }
  #imageArea img{
    height:100%;
    


  }
  #infoArea{
    width:50%;
    height: 100%;
  
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:50px;
    background:linear-gradient(15deg,#80c1e4,#003c76);
    position: relative;
    color: white;
  }
  #infoContent{
    height: 100%;;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 0 30px;
  }
#infoArea h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #e8956b;
}
#infoArea p{
    font-size: 20px;
}
#infoArea button{
    width:150px;
    height:40px;
    border-radius:15px;
    background-color:#f07032;
    border:none;
    transition: 0.2s linear;
}
#infoArea button:hover{
  width:160px;
  height: 45px;
  background-color:#e8956b;
  box-shadow: 1px 1px 5px #003c76;
  color: black;

}
#infoArea a{
    text-decoration: none;
    color:white;
    font-size:15px;

}
/*cards area*/
#infor-cards{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height:100%;
  min-height: 100vh;;
  background-image:linear-gradient(15deg, #f59321 ,#f57b20 );
 padding: 10px 0;
}
#infor-cards h1{
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  text-transform:uppercase;
  color:white
}
#cardsArea{
  display: flex;
  height: 100%;
  gap:2rem;
 
}
.card{
  

  border-radius:15px;
  height:400px;
  width:400px;
  padding:20px;
  transition: all 0.3s ease-in-out;
  padding-top: 200px;
 color: transparent;
 overflow: hidden;
 box-shadow: 1px 1px 4px  gray;



}

.card:hover{
  width:95%;
  padding-top: 0;
 color: black;
opacity: 1;
 box-shadow: 1px 1px 10px   #003c76;

}


.card h3{
  font-size:35px;
  text-transform:uppercase;
  margin-bottom: 20px;
}
.card p{
  font-size:20px;
 
}
#card-one{
  background-image: url(/images/closeup-shot-one-ginger-cat-hugging-licking-other-isolated-white-wall.jpg);
  background-position: center;
  background-size: cover;
}
#card-two{
  background-image: url(/images/adorable-kitty-with-monochrome-wall-her.jpg);
  background-position: center;
  background-size: cover;
}
#card-three{
  background-image: url(/images/run-maltipu-little-dog-is-posing\ \(1\).jpg);
  background-position: center;
  background-size: cover;
}
/* Perfil area*/
#pefisArea{
    height: 100%;
    width: 100%;
    background-color: #c7e1e9;
    z-index: 0;
    margin: 20px 0;
}
.section-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
#Lmsg{
    font-size:200px;
    color: rgb(255, 72, 72);
    
}
#msg{
    font-size:50px
}
/* footer section*/

footer{
  overflow: hidden;
  margin-top: 30px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footerSection h2{
  text-transform: uppercase;
  margin-b ottom: 30px;
  

}
#fistSection{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 85.5vw;;
}
#frame{
  height:100%;
  width: 100%;
  background-image: url(/images/gold-bengal-cat-white-space.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;


  margin-top: -10%;


}

#areaInformation{
height:auto;
display: flex; 
gap:3rem;
width: 95%;
background-color: #003c76;
position: relative;



}
#texture{
    position:absolute;
    height:100%;
    width:100%;
    background-image: url(/images/halftone_background_white12.png);
    background-size: cover;
    background-position: center;
    opacity: 0.2;

}

#social,
#contatos,
#creditos{
  display: flex;
  flex-direction: column;
  margin-top:70px;
  gap: 2rem;
  align-items: center;
  width:400px;
  height:400px;
  text-align:left;
 padding: 0 20px;
}
#creditos{
  line-height: 30px;
}
#social-logo{
  display: flex;
  gap:1rem;
  font-size:30px;
}


#contatos,
#emails,
#numeros{
  display:flex;
  flex-direction: column;
  gap:1rem;
}
/*Menu Mobile*/
#menu-mobile i{
  font-size:35px;
  color:white;
  position: absolute;
  right:0;
  top:0;
  margin-top: 10px;
  display: none;
  transition:0.5s ease-in-out;
}

hr{
height: 300px;
margin-top:40px ;
opacity: 0.4;
}

@media(max-width:1044px){
  #infoContent{
    font-size:10px;
    gap:1rem;
  }
  #infoContent p{
    font-size:17px;
  }
#frame {
  height: 60vh;
  margin-top: 0%;
}
}
@media(max-width:975px){
  #infoArea{
    gap:0.5rem;
    padding: 20px;
    font-size:15px;
  }


  #areaInformation {
    margin-top: 45%;
}
}

@media(max-width:800px){

  #aboutArea{
    height:100%
  }
  #info-section{
    flex-direction: column-reverse;
  }
  #infoArea{
    gap:1.5rem;
   flex:1;
  }
  #infoArea p{
    font-size:15px;
  }
  #infor-cards{
    margin:0 auto;
  }
  #cardsArea{
    display: flex;
    flex-wrap:wrap ;
 align-items: center;
 justify-content: center;

}
 
    
  
  #areaInformation {
    margin-top: 50%;
}
}
@media(max-width:550px){
  #about-section{
    height: 100vh;
  }
  #aboutArea{
    height: 100%;
  }
  #infoContent{
  
  }
  #infoArea{
 
  }
  #about-section{
    height:100%;
    margin:30px 0px;
  }
  #info-section{
   flex-direction: column-reverse;
   overflow:hidden;

  }
  #infoArea{
    gap:1.5rem;
    width:100%;
    
  }
  #infoArea p{
    font-size:15px;
  }
  #areaInformation {

    flex-direction: column;
    height: 100%;
    gap:1rem;
    padding: 15px 20px;
    margin-top:0 ;
  
}
#imageArea img{
  height: 500px;
  margin-top: 10px;
}
#footer-section{
  height:auto;
  margin-bottom: 10px;
}

#creditos {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  /* gap: 2rem; */
  align-items: center;
  width: auto;
  height: auto;
  text-align: left;
}
#social,
#contatos,
#creditos{
  width: auto;
  height: auto;
  gap:0.5rem;
}
#frame {
  height: 87%;
 
  height: 20vh;
 
  border-radius: 15px;
  /* margin-top: -10%; */

  
  /* margin-right: 10%; */
}
hr{
  height: 2px;
}

/* Menu mobile*/
#menu-mobile i{
  display: block;
  
}
#menu{
  position: relative;


}
ul{
  align-items: center;
  flex-direction: column;
  position: absolute;
  right:0;
  background-color: rgba(80,167,184,0.9);
  z-index: 99;
  height: 400px;
  width: 90vw;
 padding-top: 20px;
 transition: 0.3s linear;
 margin-top: 34px;
 margin-right: -22px;
 border-bottom-left-radius: 5px;
 border-bottom-left-radius: 10px;
 display: none;
}
}